@font-face {
  font-family: 'f-medium';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-web-medium.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-web-medium.woff') format('woff')
}

@font-face {
  font-family: 'f-medium-italic';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-web-medium-italic.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-web-medium-italic.woff') format('woff')
}

@font-face {
  font-family: 'f-regular';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-web-regular.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-web-regular.woff') format('woff')
}

@font-face {
  font-family: 'f-regular-italic';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-web-regular-italic.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-web-regular-italic.woff') format('woff')
}

@font-face {
  font-family: 'f-mono';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-mono-web-regular.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-mono-web-regular.woff') format('woff')
}

@font-face {
  font-family: 'f-mono-medium';
  font-weight: normal;
  src: url('/assets/fonts/founders-grotesk-mono-web-medium.woff2') format('woff2'),
       url('/assets/fonts/founders-grotesk-mono-web-medium.woff') format('woff')
}

html,
body {
  font-family: f-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

button {
  cursor: pointer;
}
